@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');/*font-family: 'Oswald', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /*font-family: 'Poppins', sans-serif;*/
/*Color Theme ---- Rusty Brown:#855141 Golden Yellow:#FFC000 Deep Orange:#FF8C00 */
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.headBar{
	position: fixed;
	background: #FFC000;
    top: 0;
    left: 0;
    width: 100%;
	padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
	transition: background-color 0.3s ease;
}	
.headBar::before{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
	transition: .5s;
}
.headBar:hover::before{
	left: 100%;
}		
#logo{
	font-size: 32px;
    color: #855141;
    text-decoration: none;
    font-weight: 800;
	font-family: 'Pacifico', cursive;
	padding-left: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
	padding-right: 20px;
    position: relative;
}
.nav-links ul.navbox-list li.navbox {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
} 
.nav-links ul.navbox-list li.signInbutton {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
} 
.nav-links ul.navbox-list li.navbox a{
	color: #855141;
	text-decoration: none;
	font-size: 28px;
	font-weight: 500;
	position: relative;
}

li.navbox a::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 3px;
	background: #855141;
	display: block;
	margin: auto;
	transition: 0.5s;
}
li.navbox a:hover::after{
	width: 100%;
}
li.navbox a.active-page::after{
	width: 100%;
}


.main {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

  .main h1 {
    font-size: 10rem;
    margin: 0;
    color: #333;
    animation: shake 2s infinite;
  }

  .main p {
    font-size: 1.5rem;
    color: #777;
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .logo {
    width: 100px;
    animation: bounce 2s infinite;
  }
#contacts{
	padding: 100px 0;
	background: #d7d5d5;
	position: relative;
}
.text-title	{
	text-align: center;
	padding-bottom: 70px;
	
}
.text-title p{
	text-align: center;
	font-size: 20px;
	color: #009688;
	font-weight: bold;
}
.con-img{
	max-width: 300px;
	opacity: 0.1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%,-50%);
}
.social-links{
	text-align: center;
}
.social-links .fa{
	height: 50px;
	width: 50px;
	font-size: 30px;
	line-height: 50px;
	border: 1px solid #855141;
	border-radius: 20px;
	margin: 40px 5px 0;
	color: #855141;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa:hover{
	background: #FFC000;
	color: #fff;
	transform: translateY(-7px);
}
.terms-and-conditions{
	position: relative;
	margin: auto;
	width: 250px;
	border: 1px solid #855141;
	border-radius: 20px;
	cursor: pointer;
	transition: .5s;
}
.terms-and-conditions p{
	text-align: center;
	font-size: 20px;
	color: #855141;
}
.terms-and-conditions a{
	text-decoration: none;
}
.terms-and-conditions:hover{
	background: #FFC000;
	transform: translateY(-7px);
}
.terms-and-conditions p:hover{
	color: #fff;
}
footer {
    background-color: #855141;
    color: #FFC000;
    padding: 20px;
    text-align: center;
}
footer p {
    font-size: 20px;
}
.scroll-to-top {
	position: fixed;
	bottom: 90px;
	right: 24px;
	width: 50px;
	height: 50px;
	background-color: #855141;
	border: none;
	border-radius: 50%;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	z-index: 9999;
	transition: background-color 0.3s ease-in-out;
}

.scroll-to-top:hover {
	background-color: #000000;
}
.small-filler{
	margin: 0 auto;
	width: 75%;
	height: 50px;
}
.medium-filler{
	margin: 0 auto;
	width: 75%;
	height: 100px;
}
.big-filler{
	margin: 0 auto;
	width: 75%;
	height: 200px;
}
.mobile-only{
    display: none;
}

[data-select="restrict"] {
	user-select: none;
}

/*Mobile*/
@media(max-width: 768px){
    .mobile-only{
        display: block;
    }
	#logo{
		padding-left: 5px;
	}
	.nav-links{
		position: absolute;
		background: hsl(5, 11%, 78%);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 100;
		transition: 1s;
	}
	.navbox-list{
		display: grid;
	}
	nav .fa{
	display: block;
	color: #fff;
	margin: 10px;
	font-size: 22px;
	cursor: pointer;
	text-align: left;
	}
	li.navbox a:hover::after{
		width: 0%;
	}
    
	.social-links .fa:hover{
		transform: translateY(0px);
	}
	.terms-and-conditions:hover{
		transform: translateY(0px);
	}
	.scroll-to-top {
		z-index: 99;
	}
}