@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');/*font-family: 'Oswald', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /*font-family: 'Poppins', sans-serif;*/
/*Color Theme ---- Rusty Brown:#855141 Golden Yellow:#FFC000 Deep Orange:#FF8C00 */
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	line-height: 1.66667;
}

.headBar{
	position: fixed;
	background: linear-gradient(rgb(255, 255, 255), transparent);
    top: 0;
    left: 0;
    width: 100%;
	padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
	transition: background-color 0.3s ease;
	backdrop-filter: blur(10px);
	border-bottom: 2px solid rgba(255,255,255, .2);
}	
.headBar::before{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(120, 116, 116, 0.4), transparent);
	transition: .5s;
}
.headBar:hover::before{
	left: 100%;
}	
.headBar.scrolled{
	background: #FFC000; /* Background color when scrolled */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.headBar.scrolled::before{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
	transition: .5s;
}
.headBar.scrolled:hover::before{
	left: 100%;
}

#logo{
	font-size: 32px;
    color: #855141;
    text-decoration: none;
    font-weight: 800;
	font-family: 'Pacifico', cursive;
	padding-left: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
	padding-right: 20px;
    position: relative;
}
.nav-links ul.navbox-list li.navbox {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
} 
.nav-links ul.navbox-list li.signInbutton {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
} 
.nav-links ul.navbox-list li.navbox a{
	color: #855141;
	text-decoration: none;
	font-size: 28px;
	font-weight: 500;
	position: relative;
}

li.navbox a::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 3px;
	background: #855141;
	display: block;
	margin: auto;
	transition: 0.5s;
}
li.navbox a:hover::after{
	width: 100%;
}
li.navbox a.active-page::after{
	width: 100%;
}
#front-page{
	width: 100%;
	min-height: 100vh;
}
#saffron-nature-mort{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.imageCredentials{
	position: absolute;
	left: 10px;
	bottom: 0;
	text-decoration: none;
	color: #000000;
}
.fade-in {
	position: absolute;
	top: 15%;
	left: 8%;
	max-width: 350px;
	width: auto;
	opacity: 0;
	transform: translateX(-100%);
	animation: fadeInFromLeft 1.5s ease forwards;
  }
  
  @keyframes fadeInFromLeft {
	0% {
	  opacity: 0;
	  transform: translateX(-100%);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  .fade-in h1{
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	color: #855141;
}
.fade-in p {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: rgb(133, 81, 65);
	text-align:justify;
}
.gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .rotate-text {
    transform: rotate(-5deg); /* Rotate text counter-clockwise */
  }
  .cool-button {
    position: relative;
	cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(133, 81, 65);
  }
  .cool-button::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 200px;
    background: linear-gradient(rgb(255, 153, 0), rgb(255, 153, 0));
    animation: borderAnimation 3s linear infinite;
  }
  .cool-button::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: rgb(250,235,238);
	backdrop-filter: blur(10px);
    border-radius: 15px;
  }
  .cool-button:hover::after{
	background: rgb(255, 255, 255);
  }
  .cool-button h2{
	font-family: 'Pacifico', cursive;
    position: relative;
    color: #855141;
    z-index: 20;
  }
  .a-cool-button{
	text-decoration: none;
  }
  @keyframes borderAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
.body1{
	text-align: center;
	min-height: 100vh;
}
.frontPageImageSlider-container{
    margin: auto;
    position: relative;
    width: 80%;
}
.slider-container {
    width: 100%;
    position: relative;
}
.slider-image {
    width: 100%;
    position: absolute;
	border-radius: 30px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.slider-image.active {
    opacity: 1;
}
/*
.login-button {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border: none;
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
.login-button i {
	margin-right: 5px;
}*/


.products {
    padding: 100px 20px;
    text-align: center;
	background-color: #ffffff;
	
}

.products h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 30px;
	
}

.product-card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #855141;
    color: #FFC000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f5dd94;
}
.class-features{
	padding: 20px;
	width: auto;
	background-color: #b0dce2;
}
.features-grid-container{
	width: 100%;
	height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
    gap: 80px;
	margin: 0 auto;
}
.grid-item{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}
.grid-item img{
	display: flex;
	width: 100px;
	height: 33%;
}
.grid-item h2{
	color: #fff;
	font-size: 20px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#contacts{
	padding: 100px 0;
	background: #efefef;
	position: relative;
}
.text-title	{
	text-align: center;
	padding-bottom: 70px;
	
}
.text-title p{
	text-align: center;
	font-size: 20px;
	color: #009688;
	font-weight: bold;
}
.con-img{
	max-width: 300px;
	opacity: 0.1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%,-50%);
}
.social-links{
	text-align: center;
}
.social-links .fa{
	height: 50px;
	width: 50px;
	font-size: 30px;
	line-height: 50px;
	border: 1px solid #855141;
	border-radius: 20px;
	margin: 40px 5px 0;
	color: #855141;
	cursor: pointer;
	transition: .5s;
}
.social-links .fa:hover{
	background: #FFC000;
	color: #fff;
	transform: translateY(-7px);
}
.terms-and-conditions{
	position: relative;
	margin: auto;
	width: 250px;
	border: 1px solid #855141;
	border-radius: 20px;
	cursor: pointer;
	transition: .5s;
}
.terms-and-conditions p{
	text-align: center;
	font-size: 20px;
	color: #855141;
}
.terms-and-conditions a{
	text-decoration: none;
}
.terms-and-conditions:hover{
	background: #FFC000;
	transform: translateY(-7px);
}
.terms-and-conditions p:hover{
	color: #fff;
}
footer {
    background-color: #855141;
    color: #FFC000;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 20px;
}

.show {
	display: block;
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.hide{
	display: none;
}
#to-the-top{
	display: none;
}

.scroll-to-top {
	position: fixed;
	bottom: 90px;
	right: 24px;
	width: 50px;
	height: 50px;
	background-color: #855141;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 50%;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	z-index: 9999;
	transition: background-color 0.3s ease-in-out;
}

.scroll-to-top:hover {
	background-color: #000000;
}
.popup-scroll-down-message {
	position: fixed;
	bottom: 25px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 10px;
	border-radius: 10px;
	animation: fadeInOut 2s infinite alternate;
  }
  .popup-scroll-down-message.scrolled {
	display: none;
  }
  /* Apply styles to the text */
  .popup-text {
	font-size: 18px;
  }
  /* Keyframes for fade in and fade out effect */
  @keyframes fadeInOut {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
.cc_overlay{
	display: none;
}
.cc_overlay.active{
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.cc_container{
    display: none;
}
.cc_container.active{
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    max-width: 680px;
    transform: translate(-50%, -50%);
    background: #222;
    color: #fff;
    font-size: 24px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding: 15px 30px;
    max-height: 80%;
    overflow-y: hidden;
    border-radius: 6px;
	z-index: 9999;
}
.cc_message{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: justify;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
    font-size: .6em;
    display: block;
    padding-bottom: 12px;
}
.cc_container a, .cc_container a:visited {
    text-decoration: none;
    color: #d5ce13;
    -webkit-transition: .2s color;
    transition: .2s color;
}
.cc_container .cc_btn {
    line-height: 1em;
    padding: 8px 10px;
    cursor: pointer;
    text-align: center;
    font-size: .6em;
    display: block;
    width: 33%;
    margin-left: 10px;
    float: right;
    max-width: 120px;
}
.cc_btn_accept_all:visited, .cc_btn_accept_all {
    color: #fff;
    background-color: #5a3b00 !important;
}

.ajs_close {
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    font: 20px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
}
.ajs_close:after {
    content: 'X';
}
.small-filler{
	margin: 0 auto;
	width: 75%;
	height: 50px;
}
.medium-filler{
	margin: 0 auto;
	width: 75%;
	height: 100px;
}
.big-filler{
	margin: 0 auto;
	width: 75%;
	height: 200px;
}
.mobile-only{
    display: none;
}
[data-select="restrict"] {
	user-select: none;
}


/*Mobile*/
@media(max-width: 768px){
    .mobile-only{
        display: block;
    }
	#logo{
		padding-left: 5px;
	}
	.nav-links{
		position: absolute;
		background: hsl(5, 11%, 78%);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 100;
		transition: 1s;
	}
	.navbox-list{
		display: grid;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
		text-align: left;
	}
	li.navbox a:hover::after{
		width: 0%;
	}
	.front-container{
		backdrop-filter: blur(10px);
	}
	.fade-in p{
		padding: 10px;
	}
	.imageCredentials{
		font-size: 12px;
	}
	.cc_container.active{
		width: 98%;
	}
	.social-links .fa:hover{
		transform: translateY(0px);
	}
	.terms-and-conditions:hover{
		transform: translateY(0px);
	}
	footer p {
		font-size: 14px;
	}
	.scroll-to-top {
		z-index: 99;
	}
	a{
		touch-action: manipulation;
	}
}

/*
@media(max-width: 1000px){
	.text-box h1{
	font-size: 26px;
	}
	.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
	}
	nav img{
	width: 100px;
	}
	.get-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 12px;
	background: transparent;
	position: relative;
	cursor: pointer;
	}
	.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: right;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
	display: block;
	color: #fff;
	margin: 10px;
	font-size: 22px;
	cursor: pointer;
	text-align: left;
	}
	.nav-links ul{
		padding: 5px;
	}
	.place{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.description h2{
		font-size: 12px;
	}
	.description p{
		font-size: 8px;
	}
	#Places hr{
		margin: 5px auto;
	}
	.his-box{
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	}
	.text-his {
	flex-basis: 50%;
	text-align: left;
	font-size: 10px;
	}
	.image img{
	width: 90%;
	border-radius: 20px;
	}
	.yt-vid1{
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	}	
	.uR-col{
		flex-basis: 100%;
	}
	.con-left{
	max-width: 100px;
	opacity: 1;
	position: absolute;
	left: 15%;
	top: 50%;
	transform: translate( -50%,-50%);
	}
	.con-left img{
		width: 50px;
	}
	.con-mid{
	max-width: 300px;
	opacity: 1;
	position: absolute;
	left: 35%;
	top: 50%;
	transform: translate( -50%,-50%);
	}
	.con-mid img{
		width: 50px;
	}
	.con-right{
		max-width: 100px;
		opacity: 1;
		position: absolute;
		left: 65%;
		top: 50%;
		transform: translate( -50%,-50%);
	}
	.con-right img{
		width: 150px;
	}
	
history
	
	#main{
        width: 100%;
        margin: auto;
        padding-top: 100px;
        text-align: center;
        background: #fff;
        }
        .his-main-row{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        }
        .his-main-col {
        flex-basis: 100%;
        text-align: center;
        font-size: 12px;
        }
        .his-main-image {
            flex-basis: 95%;
            margin: auto;
        }
        .his-main-image img{
        width: 100%;
        border-radius: 20px;
        }
places
        #place-box{
        width: 100%;
        margin: auto;
        padding: 100px 0;
        text-align: center;
        background: #fff;
        }
        .place-row{
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }
        h2{
            font-size: 16px;
        }
        .place-left {
        flex-basis: 100%;
        text-align: center;
        font-size: 12px;
        }
        .place-mid {
            flex-basis: 95%;
            margin: auto;
        }
        .place-mid img{
            width: 100%;
            border-radius: 20px;
        }
        .place-right{
            width:100%;
        }
        .place-right iframe{
            width: 350px;
            border-radius: 20px;
        }
 }
 */       
 
  
